
.sub_page , #about_outer {
    width: 100%;
    padding: 65px;
    transition: .5s ease-in-out;
    position: relative;
    z-index: 99999999999;
    height: 100vh;
    background: #000;

}

.sub_page .serverics_inner_cont {
    position: relative;
    width: 1015px;
    margin: 0 auto;
}

.sub_page  .serverics_inner_cont:before{
    position: absolute;
    width: 100%;
    content: "";
    background: url(../images/white_border.png) no-repeat;
    height: 604px;
    left: 20px;
}
#about_outer.sub_page  .serverics_inner_cont:before {
    background: url(../images/white_border-01.png) no-repeat;
}


.sub_page .serverics_inner_cont .service_logo {
    position: relative;
    top: -55px;
    left: -20px;
    width: 38%;
    float: left;

}

.serverics_cont_box_outer {
    padding: 30px 112px 0;
    width: 100%;
    float: left;
    position: relative;
    z-index: 9;
}
.serverics_cont_box_outer  .serives_cont_inner {
    width: 179px;
    height: 179px;
    float: left;
    border: 3px solid #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
}
.serverics_cont_box_outer  .serives_cont_inner.meadl_services_cont {
    margin-right: 112px;
    margin-left: 112px;
}

.serverics_cont_box_outer  .serives_cont_inner  .red_border_service {
    border: 3px solid #ff0000;
    height: 164px;
    width: 164px;
    margin: 0 auto;
    display: table;
    transition: .5s ease-in-out;
}
.serverics_cont_box_outer .serives_cont_inner .red_border_service:hover {
    background: #ff0000;

}

.serverics_cont_box_outer  .serives_cont_inner  .red_border_service .servcis_cont_text {
    display: table-cell;
    vertical-align: middle;
}
.serverics_cont_box_outer  .serives_cont_inner  .red_border_service .servcis_cont_text h3 {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 17px;
    letter-spacing: 2px;
}

.services_inner_red_bodr {
    position: relative;
    width: 100%;
    float: left;
    top: 17px;
    left: 17px;

}
.services_inner_red_bodr:before{
    position: absolute;
    width: 100%;
    content: "";
    background: url(../images/red_border.png) no-repeat;
    height: 604px;
    left: 20px;

}
#about_outer .services_inner_red_bodr:before {
    background: url(../images/red_border-01.png) no-repeat;
}

.info_box {
    width: 100%;
    float: left;
}
.info_box .img_outer {
    height: 178px;
    width: 100%;
    background: #fff;
}
.info_box h3  {
    font-size: 14px;
    line-height: 14px;
    margin:25px 0;
    color: #fff;
}
.info_box  p{
    font-size: 14px;
    line-height: 24px;
    color: #fff;

}
.info_details {
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    padding: 0  0 0 10%;
}


.about_cont_box_outer {

    padding: 30px 80px 0;
    width: 100%;
    float: left;
}


.close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    cursor: pointer;
}
.close_btn .close_img {
    margin-right: 10px;
    display: inline-block;
}

#contact_outer form {
    margin: 45px 150px 0;
    position: relative;
    z-index: 9999;
}

#contact_outer .form-control {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: black;
    color: #fff;
}